<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1>Login</h1>
   <form th:action="@{/poly/login}" th:object="${user}" method="post">
   <label>

   Username: <input type="text" th:field="*{username}" required>
   password: <input type="password" th:field="*{password}" required>
   <button type="submit">Login</button>
   </label>
   </form>
   
  <div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>
</body>
</html>