<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>

<h1>Trang Đăng Nhập</h1>

<p th:if="${session.error}" th:text="${session.error}" style="color: red;"></p>
<p th:if="${session.yesir}" th:text="${session.yesir}" style="color: blue;"></p>

<form th:action="@{/account/login}" method="post">
    <div>
        <label for="username">Tên đăng nhập:</label><br>
        <input type="text" id="username" name="username" th:value="${rememberedUser}">
    </div>
    <br>
    <div>
        <label for="password">Mật khẩu:</label><br>
        <input type="password" id="password" name="password">
    </div>
    <br>
    <div>
        <input type="checkbox" id="remember-me" name="rm" value="true">
        <label for="remember-me">Ghi nhớ đăng nhập</label>
    </div>
    <br>
    <div>
        <button type="submit">Đăng nhập</button>
    </div>
</form>

</body>
</html>